# Normal Task: Analyze customer behavior based on transaction data

**Develop a data analysis project that focuses on understanding and analyzing
customer behavior based on transactional data. The goal is to perform Exploratory
Data Analysis (EDA) to derive valuable insights into customer preferences,
purchasing patterns, and overall behavior.**

1. Data Collection and Initial Exploration
2. Data Cleaning
3. Data Transformation
4. Univariate Analysis
5. Bivariate Analysis
6. Multivariate Analysis
7. Customer Segmentation
8. Time Series Analysis
9. Visualization
10. Insight Generation
11. Reporting


## 1. Data Collection and Initial Exploration

**Task Description:**

In this step, we will load the transactional dataset into our analysis environment using a data manipulation library like pandas. We'll display the first few rows to get an overview of the dataset and its structure. By summarizing the dataset with basic statistics, we will gain an initial understanding of key metrics such as the number of transactions, sales values, and other relevant features.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/kaggle/input/store-transaction-data/Hackathon_Ideal_Data.csv')
data.head()

,MONTH,STORECODE,QTY,VALUE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,P1,25,83,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE HAIR FALL RESCUE
1,M1,P1,6,22,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE INTENSE REPAIR
2,M1,P1,4,15,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,DOVE,DOVE OXYGEN MOISTURE
3,M1,P1,15,60,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,L'OREAL INDIA,GARNIER,FRUCTIS
4,M1,P2,0,0,HAIR CONDITIONERS,HAIR CONDITIONERS,HAIR CONDITIONERS,HINDUSTAN UNILEVER LIMITED,CLINIC PLUS,CLINIC PLUS

In [3]:
data1 = pd.read_csv('/kaggle/input/store-transaction-data/Hackathon_Mapping_File.csv')
data1

                 File Name Column Name           Column Description
0     Hackathon_Ideal_Data       MONTH        Month ID (M1, M2, M3)
1                      NaN   STORECODE  STORE CODE (P1, P2, …, P10)
2                      NaN         QTY                   Sales Unit
3                      NaN       VALUE                  Sales Value
4                      NaN         GRP                     Category
5                      NaN        SGRP                  Subcategory
6                      NaN       SSGRP             Sub Sub Category
7                      NaN         CMP         Company/Manufacturer
8                      NaN        MBRD                 Mother Brand
9                      NaN         BRD                        Brand
10  Hackathon_Working_Data       MONTH        Month ID (M1, M2, M3)
11                     NaN   STORECODE  STORE CODE (N1, N2, …, N10)
12                     NaN         DAY             Day of the month
13                     NaN     BILL_ID            Bill ID (T1,T2,…)
14                     NaN    BILL_AMT                 Bill Amount
15                     NaN         QTY                   Sales Unit
16                     NaN       VALUE                  Sales Value
17                     NaN       PRICE       Selling Price Per Unit
18                     NaN         GRP                     Category
19                     NaN        SGRP                  Subcategory
20                     NaN       SSGRP             Sub Sub Category
21                     NaN         CMP         Company/Manufacturer
22                     NaN        MBRD                 Mother Brand
23                     NaN         BRD                        Brand

In [4]:
data2 = pd.read_csv('/kaggle/input/store-transaction-data/Hackathon_Validation_Data.csv')
data2.head()

        ID STORECODE MONTH                       GRP
0  1112535        N1    M1       AFTER SHAVE LOTIONS
1  1112539        N1    M1    AGARBATTI & DHOOPBATTI
2  1112543        N1    M1  ALL AIR FRESHNERS(01/03)
3  1112547        N1    M1          ALL IODISED SALT
4  1112551        N1    M1                  ANTACIDS

In [5]:
data3 = pd.read_csv('/kaggle/input/store-transaction-data/Hackathon_Working_Data.csv')
data3.head()

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,M1,N1,4,T381,10.0,1.0,10.0,10.0,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,M1,N1,4,T382,108.0,1.0,108.0,108.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GUJ TEA PROCESSORS,WAGH BAKRI,WAGH BAKRI INSTANT
4,M1,N1,4,T384,19.0,1.0,19.0,19.0,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT

In [6]:
data.shape, data1.shape, data2.shape, data3.shape

((14260, 10), (24, 3), (2430, 4), (26985, 14))

In [7]:
data.columns, data1.columns, data2.columns, data3.columns

(Index(['MONTH', 'STORECODE', 'QTY', 'VALUE', 'GRP', 'SGRP', 'SSGRP', 'CMP',
        'MBRD', 'BRD'],
       dtype='object'),
 Index(['File Name', 'Column Name', 'Column Description'], dtype='object'),
 Index(['ID', 'STORECODE', 'MONTH', 'GRP'], dtype='object'),
 Index(['MONTH', 'STORECODE', 'DAY', 'BILL_ID', 'BILL_AMT', 'QTY', 'VALUE',
        'PRICE', 'GRP', 'SGRP', 'SSGRP', 'CMP', 'MBRD', 'BRD'],
       dtype='object'))

## 2. Data Cleaning

**Task Description:**

Data cleaning involves identifying and handling missing values and duplicate records in the dataset. We will ensure that each column has the correct data type, such as converting MONTH and DAY to datetime objects and QTY and VALUE to numeric types. Additionally, we'll address any inconsistencies in column names and formats to maintain data integrity and prepare the dataset for analysis.

In [8]:
# Upload the working data
df = pd.read_csv('/kaggle/input/store-transaction-data/Hackathon_Working_Data.csv')
df.head()

,MONTH,STORECODE,DAY,BILL_ID,BILL_AMT,QTY,VALUE,PRICE,GRP,SGRP,SSGRP,CMP,MBRD,BRD
0,M1,N1,4,T375,225.0,1.0,225.0,225.0,BUTTER MARGR (4/94),BUTTER,SALTED,G C M M F,AMUL,AMUL
1,M1,N1,4,T379,95.0,1.0,95.0,95.0,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,CONFECTIONERY - ECLAIRS,PARLE PRODS,MELODY,MELODY CHOCOLATY
2,M1,N1,4,T381,10.0,1.0,10.0,10.0,CHOCOLATE,CHOCOLATE PANNED,CHOCOLATE PANNED,MONDELEZ INTERNATIONAL,CADBURY SHOTS,CADBURY SHOTS
3,M1,N1,4,T382,108.0,1.0,108.0,108.0,PACKAGED TEA,MAIN PACKS,MAIN PACKS,GUJ TEA PROCESSORS,WAGH BAKRI,WAGH BAKRI INSTANT
4,M1,N1,4,T384,19.0,1.0,19.0,19.0,ALL IODISED SALT,POWDERED SALT,POWDERED SALT,TATA CHEM,TATA,TATA SALT

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26985 entries, 0 to 26984
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      26985 non-null  object
 1   STORECODE  26985 non-null  object
 2   DAY        26985 non-null  int64
 3   BILL_ID    26985 non-null  object
 4   BILL_AMT   26985 non-null  float64
 5   QTY        26985 non-null  float64
 6   VALUE      26985 non-null  float64
 7   PRICE      26985 non-null  float64
 8   GRP        26985 non-null  object
 9   SGRP       26985 non-null  object
 10  SSGRP      26985 non-null  object
 11  CMP        26985 non-null  object
 12  MBRD       26985 non-null  object
 13  BRD        26985 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 2.9+ MB

In [10]:
df.describe()

                DAY      BILL_AMT           QTY         VALUE         PRICE
count  26985.000000  26985.000000  26985.000000  26985.000000  26985.000000
mean      15.167019    278.754206      4.105021     67.808551     52.812982
std        8.956057    541.398504     95.666947    118.005978     84.987730
min        1.000000      0.000000      0.500000      0.000000      0.000000
25%        7.000000     40.000000      1.000000     10.000000     10.000000
50%       14.000000    111.000000      1.000000     30.000000     22.000000
75%       23.000000    280.000000      2.000000     80.000000     64.000000
max       31.000000   7292.000000  12000.000000   3150.000000   3150.000000

In [11]:
df.isnull().sum()

MONTH        0
STORECODE    0
DAY          0
BILL_ID      0
BILL_AMT     0
QTY          0
VALUE        0
PRICE        0
GRP          0
SGRP         0
SSGRP        0
CMP          0
MBRD         0
BRD          0
dtype: int64

**No Missing Values**

## 3. Data Transformation

In this step, we will perform necessary data transformations to enhance the dataset. This includes converting date-related columns into datetime objects and extracting features such as the day of the week. We will also encode categorical variables (e.g., GRP, SGRP, SSGRP) into numerical values. Additionally, we will create new features like the average bill amount per store and total sales per month to provide more insights during analysis.

## 4. Univariate Analysis

Univariate analysis focuses on examining the distribution and summary statistics of individual variables. For numerical columns (QTY, VALUE, BILL_AMT, PRICE), we will compute central tendency and dispersion measures, and visualize their distributions using histograms and box plots. For categorical columns (GRP, SGRP, SSGRP), we will use count plots to understand their frequency distribution.

## 5. Bivariate Analysis

In bivariate analysis, we will explore relationships between pairs of variables. By computing correlation matrices and creating scatter plots, we can identify significant correlations among numerical columns (e.g., QTY, VALUE). We will also analyze the impact of categorical variables (e.g., GRP, SGRP) on numerical outcomes using box plots and bar charts, providing insights into how different categories affect sales and quantities.

## 6. Multivariate Analysis

This task involves examining relationships between multiple variables simultaneously. We will use pair plots and heatmaps to uncover patterns and interactions that may not be visible in bivariate analysis. Additionally, we will perform Principal Component Analysis (PCA) to reduce the dimensionality of the dataset, highlighting the most important features that explain the variance in customer behavior.

## 7. Customer Segmentation

Customer segmentation involves grouping customers based on their purchasing behavior. We will apply clustering techniques such as K-means to segment customers using features like purchase frequency and average bill amount. Each customer segment will be analyzed and profiled to understand distinct behavior patterns, which can help in tailoring marketing strategies and improving customer targeting.

## 8. Time Series Analysis

Time series analysis focuses on analyzing data points collected or recorded at specific time intervals. We will plot sales data over time to identify trends and seasonal patterns. By aggregating data by month or quarter, we can observe periodic trends. Additionally, time series decomposition will be used to separate the data into trend, seasonal, and residual components, providing deeper insights into sales dynamics.

## 9. Visualization

In this step, we will create a variety of visualizations to effectively communicate key insights from our analysis. This includes line plots for temporal trends, bar charts for categorical comparisons, and heatmaps for correlation analysis. We will also develop interactive dashboards to facilitate dynamic exploration and presentation of the data.

## 10. Insight Generation and Reporting

The goal of this task is to derive actionable insights from the EDA. By analyzing customer purchasing patterns, preferences, and behavior, we will provide strategic recommendations. These recommendations may include optimizing inventory management, targeting specific customer segments, and adjusting pricing strategies to enhance overall business performance

Reporting involves compiling the findings from the EDA into a comprehensive document. This report will detail the EDA process, key insights, and strategic recommendations. Additionally, we will prepare a presentation to effectively communicate the results and actionable strategies to stakeholders, ensuring that they understand the implications of the analysis for business decision-making.